body { 
  padding: 70px;
  background-color: lightgrey;
  font-family: cursive;
  font-weight: bold;
}

#textBox {
	width: 35%;
	margin: auto 0;
}
#clearButton {

}
 
#large {
	margin-left: 1em;
}

#chatBox {
	margin-top: 100px;
	overflow: auto;
}


 /*.messageBox{
 	margin-top: 30px;
 }
*/